.container {
  width: fit-content;
  display: flex;
  margin: 20px auto;
  background-color: #ebf3fb;
  font: PT Mono;
  padding: 20px;
}
li {
  list-style: none;
}
.units {
  font-size: 14px;
  font-weight: 600;
  line-height: 36px;
  line-height: 1;
  position: relative;
  top: -10px;
}
.input-group,
.weekdays {
  margin-left: 20px;
  padding-right: 20px;
}
.serch-btn {
  background-color: #fff;
}
.day {
  font-size: 0.9em;
  padding: 10px;
}
.sky {
  font-size: 0.7em;
}

.card-img {
  border-radius: 50%;
  width: 10em;
  display: block;
  margin: 20px auto;
  background-color: #beddfc;
}
.card-body {
  display: flexbox;
}

.location-btn {
  display: block;
  margin: 10px auto;
  font-size: 1em;
  border-color: rgba(0, 0, 0, 0.175);
  background-color: #beddfc;
}
a {
  text-decoration: none;
}

.open-sourced {
  font-size: small;
  display: block;
  text-align: center;
  margin: 8 auto;
}
.big-temp,
.sity-name {
  font-size: 26px;
}

.big-temp,
.units,
.unitsF {
  color: #0d6efd;
}
.emoji {
  width: 4em;
}
.weekdays {
  background-color: #beddfc;
}
.weather-forecast {
  box-sizing: border-box;
  width: 30em;
}
