.container {
  width: fit-content;
  display: flex;
  margin: 20px auto;
  background-color: #ebf3fb;
  font: PT Mono;
  padding: 20px;
}
li {
  list-style: none;
}
.input-group,
.weekdays {
  margin-left: 20px;
  padding-right: 20px;
}
.serch-btn {
  background-color: #fff;
}
.day {
  font-size: 1em;
  padding: 10px;
}

.card-img {
  border-radius: 50%;
  width: 7em;
  display: block;
  margin: 10px auto;
  background: #fff;
}
.location-btn {
  display: block;
  margin: 10px auto;
  font-size: 0.7em;
  border-color: rgba(0, 0, 0, 0.175);
}
a {
  text-decoration: none;
}
.activ {
  color: black;
  cursor: default;
}
.activ:hover {
  color: black;
}
.open-sourced {
  font-size: small;
  display: block;
  text-align: center;
  margin: 10 auto;
}
.big-temp {
  font-size: 26px;
}
.sity-name {
  font-size: 30px;
}
.emoji {
  width: 4em;
}
